<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Our Service</title>
</head>
<body>
    <p>Hello <%= username %>,</p>
    <p>Thank you for registering with our service.</p>
    <p>Please verify your email by clicking the link below:</p>
    <p><a href="<%= verificationUrl %>">Verify Email</a></p>
    <p>Best regards,<br/>Your Service Team</p>
    <img src="<%= imageUrl %>" alt="Service Image" style="height: 50%;width: 50%;"/>
</body>
</html>
